<div flexLayout="row" >
    <div fxFlex="25" >
        <div flexLayout="col">
            <div style="height: 600px;" fyFlex="60">
                <app-country-list></app-country-list>
            </div>
            <div style="height: 400px; margin-top: 20px;" fyFlex="40">
                <app-pie-chart></app-pie-chart>
            </div>
        </div>
    </div>
    <div fxFlex="75">
        <div flexLayout="col">
            <div style="height: 700px;" fyFlex="70">
                <app-world-map></app-world-map>
            </div>
            <div style="height: 300px;" fyFlex="30">
                <app-line-chart></app-line-chart>
            </div>
        </div>
    </div>
</div>
